.todo {
    padding: 1rem;
    border-bottom: 1px solid rgb(224, 223, 223);
    display: flex;
    margin: 0 auto;
  }
  
  .todo-text {
    font-size: 1.3rem;
  }
  
  .todo-text p {
    margin-left: 5rem;
  }
  
  .todo-id {
    display: flex;
  }
  
  .buttons {
    margin: 0 auto;
  }
  
  .checked {
    text-decoration: line-through;
  }
  
  .todo-id p {
    margin-left: 5rem;
  }
  body{
    background-color: aquamarine;
  }
  